#tital{
    text-align: center;
}

#form{
    text-align: center;
}

label{
    margin-right: 10px;
    
}

input{
      margin-top: 10px;
      
}

#loc{
    margin-top: 10px;
    margin-bottom: -15px;
}

#div1{
    height: 400px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(20,224,224);
    border-radius: 15px;
    border: 5px solid black;
}